:root {
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
    --Margin-Bottom: 5rem;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Epilogue', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-size: 1.8rem;
    max-width: 1440px;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 5rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem;
    max-width: 1440px;
    font-size: 1.6rem;
}

.header img.header__logo-img {
    margin-top: 1rem;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    padding: 0.8rem;
    width: 50%;
    position: absolute;
    top: 0%;
    right: 0%;
    background-color: var(--Almost-White);
    height: 100%;
}

.nav img:first-child {
    width: 3rem;
    margin-top: 0.4rem;
    margin-left: 90%;
}

.list {
    width: 100%;
    list-style: none;
    margin-left: 3rem;
    /* border: 2px solid black; */
}

.nav .list a {
    text-decoration: none;
    color: var(--Almost-Black);
}

.list__item {
    margin-bottom: 4rem;
}

.nav .list a:hover {
    color: black;
}

.list__show {
    list-style: none;
    position: absolute;
    height: 0;
    overflow: hidden;
}

.ubtns {
    display: flex;
    flex-direction: column;
    width: 90%;
}

button {
    background-color: transparent;
    border: 2px solid transparent;
    padding: 1rem 3rem;
    font-size: 1.6rem;
    cursor: pointer;
    border-radius: 1.3rem;
}

.ubtns a {
    text-decoration: none;
    color: var(--Almost-Black);
}

.ubtns .ubtns--register {
    border: 2px solid black;
    border-radius: 1.3rem;
}

.ubtns .ubtns--register:hover {
    border: 2px solid #b6edff;
    color: var(--Almost-White);
}

.desktop-device {
    display: none;
}

.main-section__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
}

.main-section__img {
    margin-bottom: 2rem;
}

.main-section__img img {
    width: 100%;
}

.main-section__info {
    width: 95%;
    text-align: center;
}

.main-section__info h1 {
    font-size: 4.5rem;
    margin-bottom: 1rem;
}

.main-section__info p {
    width: 95%;
    display: inline-block;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.main-section__info button {
    background-color: var(--Almost-Black);
    color: var(--Almost-White);
    margin-bottom: 4rem;
}

.main-section__clients {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-section__clients img {
    width: 100%;
}


@media screen and (max-width: 425px) {
    .main-section__clients img {
        width: 80%;
    }
}

@media screen and (min-width: 1024px) {
    .header {
        display: flex;
        justify-content: space-between;
    }
    
    .nav {
        display: flex;
        position: relative;
        align-items: flex-start;
        background-color: transparent;
    }
    
    .list {
        display: flex;
        width: 45%;
        list-style: none;
        justify-content: space-between;
    }
    
    .list__item {
        margin-bottom: 0;
    }

    .main-section__container {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: row-reverse;
    }

    .main-section__info {
        text-align: left;
    }

    .main-section__info h1 {
        font-size: 9.7rem;
        margin-top: 12rem;
        margin-bottom: 6rem;
    }

    .main-section__info p {
        width: 80%;
        line-height: 3rem;
        margin-bottom: 6rem;
    }

    .main-section__info button {
        margin-bottom: 30%;
    }
    
    button {
        padding: 1rem 2rem;
    }

    .main-section__clients {
        justify-content: space-between;
    }

    .main-section__clients img {
        width: 100%;
    }

    .mobile-device {
        display: none;
    }

    .desktop-device {
        display: block;
    }
}

@media screen and (max-width: 1350px) {
    .main-section__info h1 {
        font-size: 5.7rem;
    }

    .main-section__clients img {
        width: 80%;
    }
}