:root {
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
    --Margin-Bottom: 5rem;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Epilogue', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-size: 1.8rem;
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    padding: 0.8rem;
    margin: 0 auto;
    max-width: 1440px;
    font-size: 1.6rem;
}

.header img {
    margin-top: 1rem;
}

.nav .list {
    gap: 5rem;
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-right: 50rem;
}

.nav .list a {
    text-decoration: none;
    color: var(--Almost-Black);
}

.nav .list a:hover {
    color: black;
}

.ubtns {
    display: flex;
}

.ubtns button {
    background-color: transparent;
    border: 2px solid transparent;
    padding: 1rem 3rem;
    font-size: 1.6rem;
    cursor: pointer;
}

.ubtns a {
    text-decoration: none;
    color: var(--Almost-Black);
}

.ubtns .ubtns--register {
    border: 2px solid black;
    border-radius: 1.3rem;
}

.ubtns .ubtns--register:hover {
    border: 2px solid #b6edff;
    color: var(--Almost-White);
}

.desktop-device {
    display: none;
}

/* .main-section {
    border: 2px solid black;
} */

.main-section__img img {
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .mobile-device {
        display: none;
    }

    .desktop-device {
        display: block;
    }
    
}

@media screen and (max-width: 1350px) {
    .nav .list {
        margin-right: 0;
    }
}